obj/Debug/NeoCobranza.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache 
.vs/NeoCobranza/v17/.suo
 obj/Debug/NeoCobranza.csprojAssemblyReference.cache
 obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/bin
/obj